  		@font-face {
  	 		font-family: "Aileron-Regular", "Sanchez-Regular";
      			src: url("Aileron-Regular.otf") format("opentype"),
        		src: url("Sanchez-Regular.ttf") format("opentype");
				}
   		body {
			text-align: center;
		}
		img {
			max-width: 80%;
		}
		img #icon (
			width: 60px;
			height: 60px;
			display: inline-block;	
		}
		h1 {
			font-family: "Sanchez-Regular";
			font-size: 3em;
		}
		h3 {
			font-family: "Sanchez-Regular";
			font-size:2em;
		}
		h2 {
			font-family: "Aileron-Regular";
		}
		p {
			font-family: "Aileron-Regular";
			font-size: 1.5em;
			/*font-family: 'Pacifico', cursive; mshabekk
			/* font-family: 'Sacramento', cursive; mshabek sass
			/* font-family: 'Copse', serif;
    		}
